@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  width: auto;
  height: auto;
  background-color: #ffffff;
  margin: 0 auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
.container .container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .container-box .logo {
  width: 28.6vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent url("../../images/logo.png") 1% 0 no-repeat;
  background-size: cover;
}
.container .container-box .container-form {
  width: 22.76vw;
  min-width: 363px;
  margin-left: 60px;
  height: auto;
  margin-top: 56px;
}
.container .container-box .container-form h1 {
  font-size: 55px;
  margin: 0px 0 10px;
  font-weight: 300;
  line-height: 72px;
  letter-spacing: -0.5px;
}
.container .container-box .container-form > p {
  width: auto;
  max-width: 363px;
  font-weight: 300;
  line-height: 20px;
}
.container .container-box .container-form .form-box #form {
  width: 20.83vw;
  min-width: 363px;
  margin-top: 30px;
  border-radius: 5px;
  margin-top: 30px;
  /* Custom Checkbox */
}
.container .container-box .container-form .form-box #form .button {
  margin-top: 40px;
  padding: 8px 46px;
  display: block;
  border-radius: 5px;
  border: 1px solid #00BCD0;
  background: none;
  color: #000000;
  font-size: 20px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00BCD0), to(#00BCD0));
  background-image: linear-gradient(#00BCD0, #00BCD0);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 0.5s, color 0.5s;
  transition: background-size 0.5s, color 0.5s;
}
.container .container-box .container-form .form-box #form .button:not([disabled]):hover {
  background-size: 100% 100%;
  color: #fff;
}
.container .container-box .container-form .form-box #form .button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: #000000;
}
.container .container-box .container-form .form-box #form .input-control.error input {
  border-color: #ff3860;
}
.container .container-box .container-form .form-box #form .input-control.success input {
  border-color: #09c372;
}
.container .container-box .container-form .form-box #form .input-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 11px;
}
.container .container-box .container-form .form-box #form .input-control > p {
  margin-bottom: 9px;
  font-weight: 300;
  line-height: 20px;
}
.container .container-box .container-form .form-box #form .input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 15px;
  width: 100%;
  padding: 13px;
}
.container .container-box .container-form .form-box #form .input-control input:focus {
  outline: 0;
}
.container .container-box .container-form .form-box #form .input-control .success input {
  border-color: #09c372;
}
.container .container-box .container-form .form-box #form .input-control .error input {
  border-color: #ff3860;
}
.container .container-box .container-form .form-box #form .input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}
.container .container-box .container-form .form-box #form .input-control label {
  margin-bottom: 9px;
  color: #000;
  font-weight: 400;
  line-height: 20px;
}
.container .container-box .container-form .form-box #form .input-control .select-wrapper {
  position: relative;
}
.container .container-box .container-form .form-box #form .input-control .select-wrapper > p {
  margin-bottom: 9px;
}
.container .container-box .container-form .form-box #form .input-control .select-wrapper:before {
  content: "";
  position: absolute;
  display: block;
  pointer-events: none;
  top: 47.45%;
  right: 12px;
  border-top: 1px solid #000;
  width: 28px;
  height: 1px;
}
.container .container-box .container-form .form-box #form .input-control .select-wrapper:after {
  content: "";
  position: absolute;
  display: block;
  pointer-events: none;
  top: 60.44%;
  right: 17px;
  border-bottom: 1px solid black;
  width: 18px;
  height: 1px;
}
.container .container-box .container-form .form-box #form .input-control .select-wrapper select {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 15px;
  width: 100%;
  padding: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  overflow: hidden;
}
.container .container-box .container-form .form-box #form .input-control .select-wrapper select option {
  color: #000;
  border: 1px solid red;
}
.container .container-box .container-form .form-box #form .input-control .select-wrapper select option [value=""][disabled] {
  display: none;
  border: 1px solid red;
}
.container .container-box .container-form .form-box #form .input-control .errorPhone {
  margin-top: 2px;
  font-style: 12px;
  color: red;
}
.container .container-box .container-form .form-box #form .container__file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}
.container .container-box .container-form .form-box #form .container__file [type=file] {
  display: none;
}
.container .container-box .container-form .form-box #form .container__file label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.container .container-box .container-form .form-box #form .container__file .container__file_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container .container-box .container-form .form-box #form .container__file .container__file_column img {
  margin-right: 13px;
}
.container .container-box .container-form .form-box #form .container__file .container__file_column #files-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
  overflow: auto;
  height: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.1;
}
.container .container-box .container-form .form-box #form .container__file .container__file_column .input-file-li_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
  height: 25px;
}
.container .container-box .container-form .form-box #form .container__file .container__file_column .input-file-li_row li {
  height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .container-box .container-form .form-box #form .container__file .container__file_column .input-file-li_row img {
  margin-right: 10px;
  width: 13px;
  height: 17px;
}
.container .container-box .container-form .form-box #form #form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.container .container-box .container-form .form-box #form #form-check label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.container .container-box .container-form .form-box #form #form-check label:before {
  content: "";
  border: 1px solid #000000;
  height: 22px;
  min-width: 22px;
  border-radius: 5px;
  margin-right: 11px;
}
.container .container-box .container-form .form-box #form #form-check label span {
  color: #00BCD0;
}
.container .container-box .container-form .form-box #form #form-check input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.container .container-box .container-form .form-box #form #form-check input:checked + label::before {
  content: "✔";
  color: #00BCD0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container .container-box .animation {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 497px;
  height: 100vh;
  margin: 0;
}
.container .container-box .animation h1 {
  font-size: 50px;
  width: 302px;
  text-align: center;
  margin-top: 19px;
  font-weight: 300;
}
.container .container-box .animationAdd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .container-box .remove {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: hidden;
  }
  .container .container-box .logo {
    width: 43.48vw;
    height: 1024px;
    background: transparent url("../../images/logo.png") 22%;
  }
  .container .container-box .container-form {
    max-width: 363px;
    margin-left: 32px;
    padding: 0;
    margin-top: 99px;
  }
  .container .container-box .container-form h1 {
    font-size: 35px;
    margin: 0px 0 15px;
    line-height: 46px;
  }
  .container .container-box .container-form .form-box #form {
    max-width: 363px;
  }
  .container .container-box .container-form .form-box #form .button {
    width: 100%;
  }
  .container .container-box .animation {
    width: 393px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .container-box {
    width: 340px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .container-box .logo {
    display: none;
  }
  .container .container-box .container-form {
    margin-top: 0;
    max-width: 340px;
    margin-left: 0;
  }
  .container .container-box .container-form h1 {
    margin-bottom: 10px;
  }
  .container .container-box .container-form > p {
    width: 340px;
    font-size: 14px;
  }
  .container .container-box .container-form .form-box #form {
    margin-top: 15px;
  }
  .container .container-box .container-form .form-box #form .button {
    margin-top: 30px;
  }
  .container .container-box .container-form .form-box #form .container__file .container__file_column {
    width: 340px;
  }
  .container .container-box .container-form .form-box #form .container__file .container__file_column label {
    font-size: 14px;
  }
  .container .container-box .container-form .form-box #form .container__file .container__file_column img {
    margin-right: 8px;
  }
  .container .container-box .container-form .form-box #form .input-control {
    margin-bottom: 5px;
  }
  .container .container-box .container-form .form-box #form .input-control input {
    width: 340px;
    padding: 13px;
  }
  .container .container-box .container-form .form-box #form .input-control .select-wrapper > p {
    margin-bottom: 3px;
  }
  .container .container-box .container-form .form-box #form .input-control .select-wrapper:before {
    right: 39px;
  }
  .container .container-box .container-form .form-box #form .input-control .select-wrapper:after {
    right: 44px;
  }
  .container .container-box .container-form .form-box #form .input-control .select-wrapper select {
    width: 340px;
  }
  .container .container-box .container-form .form-box #form .input-control label {
    margin-bottom: 3px;
  }
  .container .container-box .container-form .form-box #form .button {
    width: 338px;
  }
  .container .container-box .animation h1 {
    font-size: 40px;
  }
}