/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

@mixin font {
    content: '';
    position: absolute;
    display: block;
    pointer-events: none;
}

@mixin form {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 15px;
    width: 100%;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

//
body {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .container-box {
        display: flex;

        .logo {
            width: 28.6vw;
            max-height: 100vh;
            align-items: center;
            background: transparent url('../../images/logo.png') 1% 0 no-repeat;
            background-size: cover;
        }

        .container-form {
            width: 22.76vw;
            min-width: 363px;
            margin-left: 60px;
            height: auto;
            margin-top: 56px;

            h1 {
                font-size: 55px;
                margin: 0px 0 10px;
                font-weight: 300;
                line-height: 72px;
                letter-spacing: -.5px;
            }

            >p {
                width: auto;
                max-width: 363px;
                font-weight: 300;
                line-height: 20px;
            }

            .form-box {
                #form {
                    width: 20.83vw;
                    min-width: 363px;
                    margin-top: 30px;
                    border-radius: 5px;
                    margin-top: 30px;

                    .button {
                        margin-top: 40px;
                        padding: 8px 46px;
                        display: block;
                        border-radius: 5px;
                        border: 1px solid #00BCD0;
                        background: none;
                        color: #000000;
                        font-size: 20px;
                        transition: background-color 0.2s linear;
                        background-image: linear-gradient(#00BCD0, #00BCD0);
                        background-position: 0% 100%;
                        background-repeat: no-repeat;
                        background-size: 0% 100%;
                        transition: background-size .5s, color .5s;

                        &:not([disabled]):hover {
                            background-size: 100% 100%;
                            color: #fff;
                        }

                        &:disabled {
                            opacity: 0.5;
                            cursor: not-allowed;
                            color: #000000;
                        }
                    }

                    .input-control.error input {
                        border-color: #ff3860;
                    }

                    .input-control.success input {
                        border-color: #09c372;
                    }

                    .input-control {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 11px;

                        >p {
                            margin-bottom: 9px;
                            font-weight: 300;
                            line-height: 20px;
                        }

                        input {
                            @include form;
                            padding: 13px;

                            &:focus {
                                outline: 0;
                            }
                        }

                        .success input {
                            border-color: #09c372;
                        }

                        .error input {
                            border-color: #ff3860;
                        }

                        .error {
                            color: #ff3860;
                            font-size: 9px;
                            height: 13px;
                        }

                        label {
                            margin-bottom: 9px;
                            color: #000;
                            font-weight: 400;
                            line-height: 20px;
                        }

                        .select-wrapper {
                            position: relative;

                            >p {
                                margin-bottom: 9px;
                            }

                            &:before {
                                @include font();
                                top: 47.45%;
                                right: 12px;
                                border-top: 1px solid #000;
                                width: 28px;
                                height: 1px;
                            }

                            &:after {
                                @include font();
                                top: 60.44%;
                                right: 17px;
                                border-bottom: 1px solid black;
                                width: 18px;
                                height: 1px;
                            }

                            select {
                                @include form;
                                padding: 15px;
                                appearance: none;
                                overflow: hidden;

                                option {
                                    color: #000;
                                    border: 1px solid red;

                                    [value=""][disabled] {
                                        display: none;
                                        border: 1px solid red;
                                    }
                                }
                            }
                        }

                        .errorPhone {
                            margin-top: 2px;
                            font-style: 12px;
                            color: red;
                        }
                    }

                    .container__file {
                        display: flex;
                        margin-left: 0;

                        [type="file"] {
                            display: none;
                        }

                        label {
                            display: flex;
                            position: relative;
                        }

                        .container__file_column {
                            display: flex;
                            flex-direction: column;


                            img {
                                margin-right: 13px;
                            }

                            #files-list {
                                display: flex;
                                flex-wrap: wrap;
                                width: 400px;
                                overflow: auto;
                                height: 25px;
                                margin-top: 15px;
                                margin-bottom: 5px;
                                align-items: center;
                                line-height: 1.1;
                            }

                            .input-file-li_row {
                                display: flex;
                                width: 190px;
                                height: 25px;

                                li {
                                    height: 15px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }

                                & img {
                                    margin-right: 10px;
                                    width: 13px;
                                    height: 17px;
                                }
                            }
                        }
                    }

                    /* Custom Checkbox */
                    #form-check {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;

                        label {
                            display: flex;
                            cursor: pointer;

                            &:before {
                                content: '';
                                border: 1px solid #000000;
                                height: 22px;
                                min-width: 22px;
                                border-radius: 5px;
                                margin-right: 11px;
                            }

                            span {
                                color: #00BCD0;
                            }
                        }

                        input {
                            cursor: pointer;
                            opacity: 0;
                            position: absolute;

                            &:checked {
                                &+label::before {
                                    content: '✔';
                                    color: #00BCD0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                }
            }
        }

        .animation {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 497px;
            height: 100vh;
            margin: 0;

            h1 {
                font-size: 50px;
                width: 302px;
                text-align: center;
                margin-top: 19px;
                font-weight: 300;
            }
        }

        .animationAdd {
            display: flex;
        }

        .remove {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {

    .container {
        justify-content: flex-start;
        overflow: hidden;

        .container-box {

            .logo {
                width: 43.48vw;
                height: 1024px;
                background: transparent url('../../images/logo.png') 22%;
            }

            .container-form {
                max-width: 363px;
                margin-left: 32px;
                padding: 0;
                margin-top: 99px;

                h1 {
                    font-size: 35px;
                    margin: 0px 0 15px;
                    line-height: 46px;
                }

                .form-box {
                    #form {
                        max-width: 363px;


                        .button {
                            width: 100%;
                        }
                    }
                }
            }

            .animation {
                width: 393px;
                margin-left: 20px;
            }
        }
    }
}

@media screen and (max-width: 375px) {

    .container {
        justify-content: center;

        .container-box {
            width: 340px;
            align-items: center;

            .logo {
                display: none;
            }

            .container-form {
                margin-top: 0;
                max-width: 340px;
                margin-left: 0;

                h1 {
                    margin-bottom: 10px;
                }

                >p {
                    width: 340px;
                    font-size: 14px;
                }

                .form-box {
                    #form {
                        margin-top: 15px;

                        .button {
                            margin-top: 30px;
                        }

                        .container__file {

                            .container__file_column {
                                width: 340px;

                                label {
                                    font-size: 14px;
                                }

                                img {
                                    margin-right: 8px;
                                }
                            }
                        }

                        .input-control {
                            margin-bottom: 5px;

                            input {
                                width: 340px;
                                padding: 13px;
                            }

                            .select-wrapper {
                                >p {
                                    margin-bottom: 3px;
                                }

                                &:before {
                                    right: 39px;
                                }

                                &:after {
                                    right: 44px;
                                }

                                select {
                                    width: 340px;
                                }
                            }

                            label {
                                margin-bottom: 3px;
                            }
                        }

                        .button {
                            width: 338px;
                        }
                    }
                }
            }

            .animation {
                h1 {
                    font-size: 40px;
                }
            }
        }
    }
}